<!DOCTYPE html>
@{ 
    ViewBag.Title = "Example";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .horizontal {
            margin: 0;
            padding: 0;
            background-color: lightgray;
        }

            .horizontal li {
                display: inline-block;
                font-weight: bold;
                font-style: italic;
                width: 200px;
                height: 50px;;
            }

        .navbar-fixed-top {
            position: absolute;
            top: 0px;
            left: 0px;
            min-height: 50px;
            max-height:60px;
            background-color: lightgrey;
            width: 100%;
        }
        .container{
            padding:10px 0;
        }
        .vertical-menu {
            width: 100px; /* Set a width if you like */
            position:absolute;
            top:60px;
            left:0px;
            bottom:0px;
            min-height:800px;
            background-color:lightgrey;
        }

            .vertical-menu a {
                background-color: #eee; /* Grey background color */
                color: black; /* Black text color */
                display: block; /* Make the links appear below each other */
                padding: 12px; /* Add some padding */
                text-decoration: none; /* Remove underline from links */
            }

                .vertical-menu a:hover {
                    background-color: #ccc; /* Dark grey background on mouse-over */
                }

                .vertical-menu a.active {
                    background-color: #ddd; /* Add a green color to the "active/current" link */
                    color: white;
                }
                .main-area{
                    position:relative;
                    min-height:800px;
                    left:90px;
                    top:40px;
                    background-color:#eee;
                }
    </style>
</head>
    <body>
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-collapse collapse">
                        <center>
                            <ul class="horizontal">
                                <li>@Html.ActionLink("Resume", "Resume", "Notifications") </ li >
                                <li>@Html.ActionLink("Home", "Index", "Notifications")</li>
                                <li>@Html.ActionLink("CTI Event Watcher", "cti-realtime", "Notifications")</li>
                                <li><a href="#" onClick="MyWindow=window.open('/Notifications/sse-cti-sender','SendEvent','width=400,height=310'); ">Send Event</a> </li>
                                <li>@Html.ActionLink("About", "About", "Basic") </ li >
                                <li>@Html.ActionLink("Contact", "Contact", "Basic")</li>
                                <li><iframe src="https://www.w3schools.com"></iframe></li>
                            </ul>
                        </center>
                    </div>
                </div>
            </nav>
        </header>
        <div class="vertical-menu">
            <a asp-controller="Notifications" asp-action="Index" asp-area="" class="active">Home</a>
            <a asp-controller="Notifications" asp-action="cti-realtime" asp-area="">SSE watch</a>
            <a asp-controller="Basic" asp-action="About" asp-area="">About</a>
            <a asp-controller="Basic" asp-action="Contact" asp-area="">Contact</a>
            <a asp-controller="Basic" asp-action="SQLiteDBAccess" asp-area="">SQLite</a>
            <a style="height:*"></a>

        </div>
        <div class="main-area">
            @RenderBody()
    </div>
    </body>
</html>
