@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Demo.AspNetCore.ServerSentEvents.Services.MySqliteDBContext
@{
    if (Model.IsFilteredBySearch)
    { Layout = null; }
    else
    { Layout = "~/Views/Shared/_Layoutdev.cshtml"; }
    ViewData["Title"] = "SQLite DB API";
    ViewData["Main-Header"] = "SQLite DB access API simple view";
    ViewData["Header-details"] = "plain list of single table";

}
<html>
<head>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
        th {
            background-color: #f2f2f2;
        }
    </style>


 </head>
<body>

    <h1></h1>
    <table style="width:100%">
        <tr style="border:solid;">
            <th>Name @Html.TextBoxFor(m => m.searchCriteria.Full_Name, new { @id="input-full-name", onfocus="Focus(this.id,'User ID')", @style = "min-height:1Px;", @value = Model.searchCriteria.Full_Name }) </th>
            <th>Country @Html.TextBoxFor(m => m.searchCriteria.Country, new { @id="country-field", @style = "min-height:1Px;", @value = Model.searchCriteria.Country }) </th>
            <th>Zip Code @Html.TextBoxFor(m => m.searchCriteria.Zip_Code, new { @id="zip-field", @style = "min-height:1Px;", @value = Model.searchCriteria.Zip_Code }) </th>
        </tr>
        @foreach (var record in Model.ContactPresentation)
        {

            <tr>
                <td><b>@record.Full_Name</b> </td>
                <td><b>@record.Country</b></td>
                <td><b>@record.Zip_Code</b></td>
            </tr>

        }

    </table>
        <form id="fake" action="/Basic/ContactsDB"></form>
    <script>
    $(document).ready(function()
    {
         var content = $('#input-full-name').val();
         var lock = true;
         var timer = null;
        $('#input-full-name').keyup(function()
        {
            if ($('#input-full-name').val() != content)
            {
                if(timer != null)
                    clearTimeout(timer);
                timer = setTimeout(function()
                        {
                            console.log('Content has been changed');
        var Model = {

                        Full_Name: $('#input-full-name').val(),
                        Country:  $('#country-field').val(),
                        Zip_Code:  $('#zip-field').val()
                    }


         var StringifiedData = JSON.stringify(Model);


        //var json1 = JSON.stringify({name :  $('#input-full-name').val(), zip : $('#zip-field').val()});
    @*$('#fake').submit(function(e) {
      e.preventDefault();
      e.returnValue = false;

      var Full_Name = $('#input-full-name').val();
      var Country = $('#country-field').val();
      var Zip_Code = $('#zip-field').val();
   });*@

         $.ajax({
                    type: "POST",
                    //dataType: "json",
                    data:StringifiedData,
                    url: '@Url.Action("searchDB", "Basic")',
                    contentType: "application/json; charset=utf-8",
                    error: function(xhr, textStatus, thrownError) { console.log("ERROR: "+ textStatus + "-" + thrownError); 
                        },

                    success: function(result){
                      console.log("good");
                    var doc = 
                    $('#content-body').html(result);
                var foot = $("footer");
                }});

                        }, 1000);

            }
        });
    });
    </script>
</body>
</html>

