@model Demo.AspNetCore.ServerSentEvents.Model.SSEventModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server-Sent Events (SSE) Sender</title>
    <style>
        div {
            display: grid;
        }
    </style>
</head>
<body>
    <form asp-controller="notifications" asp-action="sse-cti-sender-call" method="post">
        <fieldset>
         <!--   <div>
                <select asp-for="selectedDN"
                        asp-items="@(new SelectList(Model.Contacts, "PhoneNumber","FullName"))">
                    <option>Please select contact</option>
                </select>
            </div>
             -->
            <div>
                <input style="background-color: green; color: wheat" type="submit" value="Simulate voice Call" />
            </div>
             
        </fieldset>
    </form>
    <!--
    <form asp-controller="notifications" asp-action="sse-cti-sender" method="post">
        <fieldset>
            <legend>Call event generator area</legend>
            <div>
                @Html.DisplayNameFor(model => model.cti_event)
                @Html.TextBoxFor(model => model.cti_event)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.CallingDN)
                @Html.TextBoxFor(model => model.CallingDN)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.callid)
                @Html.TextBoxFor(model => model.callid)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.data)
                @Html.TextBoxFor(model => model.data)
            </div>
            <div>
                <input style="background-color:wheat" type="submit" value="Send" />
            </div>
       </fieldset>

    </form>
        -->
</body>
</html>
